NODE_ENV=development # development, test, production allowed values
# serrverless key is required to deploy the service locally
# get it from https://app.serverless.com/< your username >/settings/accessKeys
# SERVERLESS_ACCESS_KEY=your_serverless_access_key # Add your Serverless access key here if not using interactive mode on cli

APP_NAME=driver-service
APP_URL=http://localhost:3000
APP_PORT=3000

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT=http://localhost:4566

REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=your_redis_password
REDIS_DB=0

MYSQL_HOST=localhost
MYSQL_PORT=3308
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=ride-sharing-app


KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=driver-service
KAFKA_GROUP_ID=driver-service-group
KAFKA_TOPIC=driver-service-topic
KAFKA_SASL_USERNAME=user
KAFKA_SASL_PASSWORD=password
KAFKA_SSL_CA_CERT_PATH=certs/ca.crt
KAFKA_SSL_CLIENT_CERT_PATH=certs/client.crt
KAFKA_SSL_CLIENT_KEY_PATH=certs/client.key

LOG_LEVEL=debug